@import 'https://fonts.googleapis.com/css?family=Yatra+One';
* {margin:0; padding:0; box-sizing: border-box;}
body {
	background color: #FF7619;
	/*font-family: 'Yatra One', cursive;*/
	font-family:helvetica, arial, sans-serif;
	font-size: 20%;
	padding: 0 0 0 0; 
}
section {
	padding: 1em 1em;
}
header {
	background-color: #2CB247;
	/* border: 1px black solid; */
	/* padding: 20px; */
}
footer {
	background-color: #2EF5FF;
	border: 1% black solid;
	padding: 20%;
}
nav {
    float: right;
    margin-top: .75em;
    background-color: #FFA657; 
    border: 1% black solid;
    padding: 20px 0em 1em 0em;
}
h1 {
    font-size: 2em;
    width: 12em;
}
ul {
	padding-left: 1.25em;	
}
h2 {
	background-color: #8FFF5C;
	border: 1% black solid;
	padding: 20%;
}
nav a:hover {
	color: green;
}
.logo {
	text-align: left;
	text-decoration: none;
	font-size: 2em;
	font-weight: 100;
	color: #FFF;
	letter-spacing: .65em;
	background color: #2CB247;
	float: left;
	border: 1% black solid;
	padding: 0em 0em 0em 2em;
}
.description {
	background-color: #54C1FF;
	border: 1% black solid;
	padding: 20%;
}
#about {
	text-align: left;
	text-decoration: none;
	background-color: #FF7C42;
	border: 1% black solid;
	padding: 20%;
}	
#splash {
	background: url(images/enlighten.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	color: rgb(255, 243, 0);
	min-height: 90vh;
	padding: 10em 0 2em 6em;
}
#two_column {
    background-color: #FFB7CF;
    border: 1% black solid;
    padding: 20%;
}
#left {
    background-color: violet;
    border: 1% black solid;
    padding: 20%;
    float: left;
    width: 30%;
}
#right {
    background-color: #E55B88;
    border: 1% black solid;
    padding: 20%;
    float: right;
    width: 62%;
}
.cta {
    background: #CA485E;
    color: #fff;
    padding: 1em 2em;
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    border-radius: .25em;
}
#email {
	background-color: #5942FF;
	border: 1% black solid;
	padding: 20%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media screen and (max-width: 817px) {
	nav {
		float: none;
	}
}
@media screen and (max-width: 611px) {

}


